* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    color: black
}


/* @import url(./header.css);
@import url(./footer.css);
@import url(./main.css); */

body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
}

.noventa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-top: 2%;
}

.segundaParte {
    margin-top: 2%;
}

header {
    display: flex;
    /* atencion aca */
    flex-direction: column;
    /* atencion aca */
    padding: 5%;
    background-color: #EAC926;
    width: 100%;
    /* padding-bottom: 2%; */
}

.logo-barra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo-barra picture {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}

.logo {
    justify-content: center;
    width: 25vw;
}

.leForm {
    display: flex;
}

.searchBar {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-self: center;
    flex-wrap: unwrap;
    flex-direction: row;
    height: 5vh;
}

.searchBar input {
    width: 35vw;
}

.searchBar button {
    transition: 1500ms;
}

.searchBar button:hover {
    background-color: #0022AA;
}

.fa-search {
    display: flex;
    flex-wrap: wrap;
    width: 3vw;
    justify-content: center;
}

.burger-menu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cuotas {
    display: flex;
    justify-content: center;
    margin: 5%;
    margin-bottom: 2%;
}

.fa-bars {
    color: white;
    background-color: #1259c3;
    border-radius: 20%;
    padding: 1.8%;
}

.titulares {
    font-size: 24px;
    color: #666;
    margin-left: 1vw;
}

.texto {
    font-size: 12px;
}

.productos {
    font-size: 16px;
}

img {
    max-width: 100%;
}

.main-home {
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.articulos1,
.articulos2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.card {
    margin-bottom: 10px;
    background-color: white;
}

.bajo-foto {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

.camion {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 300ms;
}

.camion:hover {
    transform: rotate(-90deg);
}

.vajunto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.precios {
    font-size: 18px;
    flex-basis: 30%;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    flex-basis: 70%;
}

article {
    margin: 10px;
}

.footer .footer-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-article p {
    display: flex;
    text-align: center;
}

.footer-article {
    margin-bottom: 10px;
}

.footer h3 {
    font-size: 15px;
}

.footer i {
    color: #1259c3;
    margin-bottom: 10px;
}

.nombreDeUsuario {
    margin: center;
    display: flex;
    justify-content: center;
    padding: 30px;
    border: none;
}

#search-formA input {
    border: none;
    width: 40vw;
    height: 7vh;
    border-radius: 8px;
}

::placeholder {
    text-align: center;
}

#search-formA button {
    background-color: #03264C;
    color: white;
    width: 30vw;
    height: 10vh;
    border-radius: 8px;
    border: none;
}

.elInput {
    display: flex;
    justify-content: center;
}

.separacion {
    margin-top: 20px;
}

.comprav {
    margin-left: 1%;
}

.letra-negrita {
    font-weight: bold;
    font-style: italic;
}

.titulo-boton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#formulario button {
    background-color: #03264C;
    color: white;
    width: 10vw;
    height: 5vh;
    border-radius: 8px;
    border: none;
}

.boton {
    border: none;
    width: 30vw;
    height: 5vh;
    border-radius: 8px;
    padding: 30px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.ultimoBoton {
    margin: 5px;
    margin-bottom: 20px;
}

.botoncitos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-home form p {
    margin: 10px;
}

@media (max-width: 768px) {
    .productos {
        display: none;
    }
    .horizontal {
        display: none;
    }
}


/* tablet*/

@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }
    .card {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .van-juntas {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    header {
        padding: 3%;
        height: 15vw;
        padding-bottom: 3%;
        background-color: #EAC926;
    }
    .tablet-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    /*  .tablet-desktop2 {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        } */
    .logo-barra {
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-basis: 65%;
        align-items: center;
    }
    .searchBar {
        flex-wrap: nowrap;
    }
    .searchBar input {
        width: 20vw;
        margin-right: 5px;
    }
    .cuotas {
        display: flex;
        width: 30vw;
        padding-top: 2vh;
    }
    .horizontal {
        margin: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: unwrap;
        justify-content: space-between;
    }
    .primero {
        display: flex;
        justify-content: space-around;
        flex-basis: 45%;
    }
    .segundo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-basis: 50%;
    }
    .segundo a {
        display: flex;
    }
    .segundo a i {
        display: flex;
        flex-wrap: nowrap;
        margin-left: 3px;
        align-items: center;
        margin-bottom: 2%;
    }
    .vacio {
        /* display: flex; */
        /*     flex-basis: 35%; */
    }
}


/* desktop */

@media (min-width: 1028px) {
    .burger-menu {
        display: none;
    }
    .card {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .van-juntas {
        display: flex;
    }
    .articulos1,
    .articulos2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .articulosDelfooter {
        display: flex;
        flex-direction: row;
    }
    .cuotas {
        padding-top: 3vh;
    }
}